@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');


body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    border: 0;
    background-image: url("https://bengarlock.com/api/images/photo-1562047304-af6c44c58821_T2WXhTG.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#root {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#player-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    flex-wrap: wrap;
    align-content: flex-start;
}

.player {
    border: 10px black;
    min-width: 300px;
    min-height: 300px;
    padding: 1em;
    margin: 2em;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(133,59,133,1) 100%)
}

.player h4 {
    text-align: center;
}

.status {
    text-align: center;
}

.meter {
    transition: 10s;
}

button {
    width: 100px;
    height: 50px;
    background-color: #040445;
    color: white;
    border: none;
    outline: none;
}

button:hover {
    background-color: #aa2900;
    transition: .5s;
}

.value {
    padding: 10px;
}

.goals {
    text-align: center;
}